body {
  padding-top: 70px;
}

.container {
  width: 300px;
  margin: auto;
  background-color: white;
  padding: 10px;
}

.top_right {
  position: absolute;
  top:1px;
  right:3px;
}

.cat {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.navbar {
  width: 300px;
  margin: auto;
  background-color: #ecf0f1;
}

.right{
  float:right;
}

.wrench{
  float: right;
  margin-right: auto;
  margin-left: 0;
}

.leder {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 50px;
  font-size: 22px;
}

.btn-big{
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
  height: 75px;
  font-size: 22px;
}

.hidden {
  display: none;
}

.passphrase h3 {
  margin-top: 0;
}

.passphrase {
  padding-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

.rating {
  width: 75px;
}

.rating-panel {
  margin: auto;
  width: 100%;
}

.rating .input-checked{
  background-color:#404040;
  color:#F7F7F7;
}

.fa{
  float: right;
}

.alert h3 {
  margin: 0;
  padding: 5px;
}
