/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require bootstrap-formhelpers.min.css
 */

#home-page {
  text-align: center;
  background-size: contain;
  color: black;
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
}

.container {
  width: auto;
  margin: auto;
  background-color: white;
  padding: 0;
}

 #sitelinks h3 {
  font-family: 'Sonsie One', cursive;
  padding: 10px;
  font-size: 16px;
  background: #ecf0f1;
  border-radius: 10%;
  letter-spacing: -1px;
 }

.teamimg {
  padding-left: 10px;
  padding-right: 10px;
  display:inline-block;
  border-radius: 50%;
}

.h2_lp {
  font-family: 'Sonsie One', cursive;
  font-weight: 200;
  padding: 10px;
  color: black;
  font-size: 20px;
  background: #ecf0f1;
  letter-spacing: -1px;
}

.names {
  padding-left: 80px;
  padding-right: 80px;
  color: #ecf0f1;
}

.pictures {
  padding-top: 130px;
}

.navbar_lp {
  background-color: #34495e;
  width: 100%;
}

.divider {
  height: 1px;
  width: 70%;
  border-bottom: 1px solid #fff;
  position: relative;
  left: 170px;
  margin: 20px 0 10px;
}

#flashingtext{
  font-family: 'Codystar', cursive;
  font-size: 45px;
  color: #ecf0f1;
  padding: 30px 20px 10px 20px;
  text-align: left;
  letter-spacing: +3px;
}
#screen1 {
  background-image: url('ss.png');
  padding-top: 105px;
  height: 777px;
  }

#screen2 {
  background-color: #bdc3c7;
  height: 1277px;
}

#screen3 {
  background-color: #e74c3c;
  height: 777px;
}

#play_button {
  position: relative;
  z-index: 10;
  font-size:22px;
  margin: -250px 0px 100px 400px;
}

#sitelinks {
  text-align: right;
  position: relative;
  z-index: 11;
}

#skinny {
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
}
